%tr
  %td= post.id
  %td= post.title
  %td= post.expire_date
  %td= post.event
  %td= link_to edit_job_post_url(post, code: post.code), edit_job_post_path(post, code: post.code)
  - if post.published
    %td= link_to 'Unpublish', '#'
  - else
    %td= link_to 'Publish', '#'
