%h2 Update JobPost
= form_for(@post, url: job_post_path(@post), html: { method: :put }) do |f|
  %fieldset
    %legend Basic Info
    .row
      .field
      .small-2.large-2.columns.text-align-right
        = f.label :title, class:'inline'
      .small-5.large-5.columns.no_margin_padding
        = f.text_field :title, autofocus: true, required: true
      .small-5.large-5.columns
    .row
      .field
        .small-2.large-2.columns.text-align-right
          = f.label :description, class:'inline'
        .small-5.large-5.columns.no_margin_padding
          = f.text_area :description, autofocus: true, rows: 20, required: true
        .small-5.large-5.columns
    .row
      .field
        .small-2.large-2.columns.text-align-right
          = f.label :expire_date
        .small-5.large-5.columns.no_margin_padding.date_selector
          = f.date_select :expire_date, {start_year:Date.current.year, end_year:Date.current.year+1, use_short_month: true, default: {month: Date.current.month, day: Date.current.day}}
        .small-5.large-5.columns
          %p.subheader.text-left **This post will be inactive after this date
  %fieldset
    %legend Event Info
    .row
      .field
        .small-6.large-6.columns#event_subheader
          %span#has_event Is there an event related to this job post?
          = f.radio_button :has_event, true
          = f.label :has_event, "Yes", value: true
          = f.radio_button :has_event, false
          = f.label :has_event, "No", value: false
        .small-6.large-6.columns
    .row
      .field
        .small-2.large-2.columns.text-align-right
          = f.label :event_time
        .small-5.large-5.columns.no_margin_padding.date_selector#event_date_selector
          = f.datetime_select :event_time, {start_year:Date.current.year, end_year:Date.current.year+1, use_short_month: true, default: {month: Date.current.month, day: Date.current.day, hour:19, minute: 0}}
        .small-5.large-5.columns
    .row
      .field
      .small-2.large-2.columns.text-align-right
        = f.label :event_venue, class:'inline'
      .small-5.large-5.columns.no_margin_padding
        = f.text_field :event_venue, autofocus: true, placeholder: "If undecided, put TBA"
      .small-5.large-5.columns
  %fieldset
    %legend Preferences
    #preference_tooltip
      %span.has-tip{:"data-tooltip" => '', :"aria-haspopup" => true, :"title" => "You can set preferences of majors and industries to see how many people matches your needs"}
        What are preferences?
      %span.has-tip{:"data-tooltip" => '', :"aria-haspopup" => true, :"title" => "By setting preferences, the matched people will receive an email about this post"}
        Why set preferences?
    = react_component 'JobPostPreferences', {job_post_id: @post.id}, :div
  .row.actions
    .small-centered.large-centered.columns.large-3.small-3
      = f.submit "Update", class: 'large button', id: 'update_button'
